<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            OAth Demo
        </title>
    </head>
    <body>
        {{>header}}
        <p> {{welcomeMsg}}</p>
        <form action="/oauth">
            SF Org <input type="text" name="sforg"><br>
            client_id <input type="text" name="client_id"><br>
            Redirect <input type="text" name="redirect"><br>

            <input type="submit" value="Submit" >
        </form>
        {{>footer}}
    </body>

</html>