<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            OAuth Web-Server Flow with Valet Key
        </title>
    </head>
    <body>
        {{>header}}
        <p> {{welcomeMsg}}</p>
        <input type="button" name="submit" value="Get started"> 
        {{>footer}}
    </body>

</html>